.objects {
  width: 300px;
  height: 800px;
  margin: 0;
  position: absolute;
  right: 0;
  border: 2px solid #555555;
}

.objects-list {
  margin: 10px 0;
  overflow-y: scroll;
  height: 750px;
}

.objects-list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.objects-list::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.objects-list::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

.teachers-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.objects-list-item {
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5vw;
}

.objects-button {
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.objects-button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.objects-button:hover {
  background-color: #555555;
  color: white;
}

.fas {
  margin-right: 5px;
}